cloudpickle==3.0.0
evdev==1.7.0
Farama-Notifications==0.0.4
grpcio==1.62.0
grpcio-tools==1.62.0
gymnasium==0.29.1
-e git+https://github.com/Bobblite/ICCE.git@f8822a094f70fe8f53a7b603d62f3b1fa4c495bc#egg=ICCE
llvmlite==0.42.0
numba==0.59.0
numpy==1.26.4
pettingzoo==1.24.3
protobuf==4.25.3
pybullet==3.2.6
PyFlyt==0.16.0
-e git+https://github.com/jjshoots/pyflyt_dogfight.git@f314d958c65452daa88b49c61450ac457416b90c#egg=pyflyt_dogfight
pynput==1.7.6
python-xlib==0.33
PyYAML==6.0.1
scipy==1.12.0
six==1.16.0
tqdm==4.66.2
typing_extensions==4.10.0
